/* Configurações para as tags */
a {
    text-decoration: none;
    color: #87D37C;
}
a:hover {
    color: #87D37C;
    text-decoration: underline;
}

/* configurações para a classes */
.group-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 0px;
    margin: 10px 20px;
    width: 350px;
}

.divisiao-superior {
    display: flex;
    flex-direction: row-reverse;
    padding: 0px;
    align-items: center;
}

/* configuração para IDs */
#pesquisa {
    width: 250px;
    margin: 20px 20px;
}